{% load static tailwind_tags %}
{% load static %}

<footer class="bg-black w-full text-white flex items-center justify-around  min-h-[20vh] lg:min-h-[35vh] md:min-h-[25vh] absolute bottom-0">

    
    <!--Logo-->
    <div class=" mx-2">
        <img class="w-[40vw] sm:w-[25vw] " src="{% static 'base/assets/img/LOGO-1.png' %}" alt="Logo">
    </div>

    <!--Links-->
    <div class=" grid grid-cols-2 lg:gap-5 min-w-[20vw]  ">
        
        <div><a href="http://" class="hover:underline lg:text-lg text-sm ">Official Site</a></div>
        <div><a href="http://" class="hover:underline lg:text-lg text-sm ">ERP Site</a></div>
        <div><a href="http://" class="hover:underline lg:text-lg text-sm ">Home</a></div>
        <div><a href="http://" class="hover:underline lg:text-lg  text-sm ">Upcoming Events</a></div>    
           
            
            
       
    </div>

    <!--Newsletter-->
    <div class="hidden mx-2 bg-[#242323] rounded-2xl lg:max-h-[25vh] my-5 sm:flex flex-col items-center justify-center p-4 gap-3 shadow-[0_0_10px_rgba(128,128,128,0.7)]">
        <p class="  md:text-xl lg:text-3xl md:mt-5 font-bold">Subscribe to our Newsletter</p>
        <form action="{% url 'subscribe' %}" method="post" class="flex flex-col gap-4 items-center justify-center">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Your Email" class="bg-gray-300 rounded-2xl md:text-lg shadow-amber-100 text-black lg:px-10 lg:py-1 px-4 py-1" required>
            <button type="submit" class="bg-red-600 rounded-xl hover:shadow-[0_0_5px_rgba(220,38,38,0.7)]  transition hover:cursor-pointer lg:text-2xl w-fit px-4">Subscribe</button>
        </form>
    </div>
</footer>
