{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'base/assets/img/logo-short.jpeg' %}">
    <title>Welcome To MM(DU)-North India's Best Private Leading University</title>
    {% tailwind_css %}

</head>

<body class=" {% if event_count < 2 %} hidden {% endif %}">

    {% include 'navbar.html' %}
    {% block content %}

    {% endblock content %}
    {% include 'footer.html' %}

</body>

</html>