{% load static tailwind_tags %}
{% load static %}

<footer class="bg-black w-full  border-t-2 text-white flex sm:flex-row flex-col  items-center justify-around   mt-20 ">

    <div class="flex border-2  items-start mt-5 justify-around">
        <!--Logo-->
        <div class="border-2 ml-2 max-h-[20vh] lg:ml-0  mr-4">
            <img class=" " src="{% static 'base/assets/img/LOGO-1.png' %}" alt="Logo">
        </div>

        <!--Links-->
        <div class="border-2 grid grid-cols-2 lg:gap-5 mt-2 min-w-[20vw]  ">
            
            <div><a href="http://" class="hover:underline lg:text-lg text-sm ">Official Site</a></div>
            <div><a href="http://" class="hover:underline lg:text-lg text-sm ">ERP Site</a></div>
            <div><a href="http://" class="hover:underline lg:text-lg text-sm ">Home</a></div>
            <div><a href="http://" class="hover:underline lg:text-lg  text-sm ">Upcoming Events</a></div>    
        </div>

    </div>
    

   


    <!--Newsletter-->
    <div class="border-2 mx-2 bg-[#242323] w-[70vw] sm:w-auto rounded-2xl  lg:max-h-[25vh] my-5 sm:flex flex-col items-center justify-center p-4 gap-4 ">
        <p class="  md:text-xl text-center lg:text-3xl md:mt-5 font-bold">Subscribe to our Newsletter</p>
        

        <form action="{% url 'subscribe' %}" method="post" class="ml-5 mt-5 sm:mt-2 mb-5 flex max-w-md gap-x-4">
            {% csrf_token %}
            <label for="email-address" class="sr-only">Email address</label>
            <input id="email-address" name="email" type="email" autocomplete="email" required class="min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-white sm:text-sm sm:leading-6" placeholder="Enter your email">

            <button type="submit" class="flex-none rounded-md bg-red-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Notify me</button>
        </form>
    </div>
</footer>
