{% extends 'main.html' %}
{% block content %}

<body>
    <h1>About Us</h1>

    <p>CampusConnect is a centralized event management portal developed for MM(DU) University.</p>
    <p>Our goal is to simplify the way students and faculty connect with events happening across the campus — whether
        academic, cultural, or technical.</p>
    <p>We built this platform after noticing that students often miss out on opportunities due to scattered
        communication on notice boards or WhatsApp groups. Faculty members also face challenges in handling
        registrations and keeping track of participants. CampusConnect provides a simple, reliable, and professional
        solution to these problems.</p>
    <p>With features like event browsing, online registration with instant email confirmations, and a newsletter system
        for upcoming events, students can stay informed and engaged. Faculty members can easily manage events through
        the admin dashboard, ensuring smoother organization.</p>
    <p>Our vision is to create a connected and transparent event culture at MM(DU), where students never miss
        opportunities to learn, participate, and grow.</p>

    <h2>Team Behind CampusConnect:</h2>
    <ul>
        <li>Kavya Aggarwal – Team Leader</li>
        <li>Chirag Taluja – Backend Developer</li>
        <li>Bhavya Dhawan – Frontend Developer</li>
        <li>Suhani Thapa – Frontend Developer</li>
    </ul>
</body>

{% endblock %}