{% extends "main.html" %}
{% block content %}

<form method="POST" action="{% url 'add_event' %}">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Event Title" required>
    <hr>
    <textarea name="description" placeholder="Event Description" required></textarea>
    <hr>
    <input type="date" name="date" required>
    <hr>
    <input type="text" name="venue" placeholder="Venue" required>
    <hr>
    <input type="url" name="registration_link" placeholder="Registration Form Link">
    <hr>
    <input type="url" name="whatsapp_link" placeholder="WhatsApp Group Link">
    <hr>
    <button type="submit">Add Event</button>
</form>
{% endblock content %}