{% extends 'main.html' %}
{% load static tailwind_tags %}
{% load static %}


{% block content %}


<link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">


<div class="">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Event Name:</label>
        <input type="text" name="name" value="{{ event.name|default:'' }}" required><br>
        <hr>
        <label>Headline:</label>
        <input type="text" name="headline" value="{{ event.headline|default:'' }}" required><br>
        <hr>
        <label>Day:</label>
        <input type="date" name="day" value="{{ event.day|date:'Y-m-d' }}"><br>
        <hr>
        <label>Time:</label>
        <input type="time" name="time" value="{{ event.time|time:'H:i' }}"><br>
        <hr>
        <label>Deadline:</label>
        <input type="date" name="deadline" value="{{ event.deadline|date:'Y-m-d' }}"><br>
        <hr>
        <label>Rules:</label>
        <textarea name="rules">{{ event.rules|default:'' }}</textarea><br>
        <hr>
        <label>Description:</label>
        <textarea name="description">{{ event.description|default:'' }}</textarea><br>
        <hr>
        <label>Venue:</label>
        <input type="text" name="venue" value="{{ event.venue|default:'' }}"><br>
        <hr>
        <label>Department:</label>
        <input type="text" name="department" value="{{ event.department|default:'' }}"><br>
        <hr>
        <label>Category:</label>
        <input type="text" name="category" value="{{ event.category|default:'' }}"><br>
        <hr>
        <label>Coordinator Name:</label>
        <input type="text" name="coordinator_name" value="{{ event.coordinator_name|default:'' }}"><br>
        <hr>
        <label>Contact Info:</label>
        <input type="text" name="contact_info" value="{{ event.contact_info|default:'' }}"><br>
        <hr>
        <label>Registration Link:</label>
        <input type="url" name="registration_link" value="{{ event.registration_link|default:'' }}"><br>
        <hr>
        <label>WhatsApp Link:</label>
        <input type="url" name="whatsapp_link" value="{{ event.whatsapp_link|default:'' }}"><br>
        <hr>
        <label>Poster:</label>
        <input type="file" name="poster"><br>
        <hr>
        <button type="submit">
            {% if is_update %} Update Event {% else %} Add Event {% endif %}
        </button>
    </form>

    <div>
        <a href="{% url 'index' %}" class="text-blue-500 hover:underline">Back to Home</a>

    </div>

    {% endblock %}