{% extends "main.html" %}

{% block content %}
<div class="event-detail flex flex-col">

    {% if event.poster %}
    <div>
        <img src="{{ event.poster.url }}" alt="{{ event.name }}">
    </div>
    {% endif %}

    <h1 class="">{{ event.name }}</h1>
    <h3>{{ event.headline }}</h3>
    <hr>

    <p><strong>Day:</strong> {{ event.day }}</p>
    <p><strong>Time:</strong> {{ event.time }}</p>
    <p><strong>Deadline:</strong> {{ event.deadline }}</p>
    <p><strong>Venue:</strong> {{ event.venue }}</p>
    <p><strong>Department:</strong> {{ event.department }}</p>
    <p><strong>Category:</strong> {{ event.category }}</p>

    <p><strong>Coordinator:</strong> {{ event.coordinator_name }}</p>
    <p><strong>Contact Info:</strong> {{ event.contact_info }}</p>

    <h4>Description</h4>
    <p>{{ event.description }}</p>

    <h4>Rules</h4>
    <p>{{ event.rules }}</p>

    {% if event.registration_link %}
    <p><a href="{{ event.registration_link }}" target="_blank">Register Here</a></p>
    {% endif %}

    {% if event.whatsapp_link %}
    <p><a href="{{ event.whatsapp_link }}" target="_blank">Join WhatsApp Group</a></p>
    {% endif %}

    <p>{{ event.created_by }}</p>
</div>
{% endblock %}