{% extends "main.html" %}

{% block content %}
{% load static tailwind_tags %}
{% load static %}

<link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">

<div class="event-detail flex flex-col ">

    <div class="w-full flex flex-col items-center justify-center">
        <h1 class="text-5xl md:text-6xl font-extrabold text-red-600 drop-shadow-lg tracking-wide mb-6">{{ event.name }}</h1>
        <h3 class="text-3xl md:text-5xl font-extrabold text-black drop-shadow-md leading-snug max-w-5xl">{{ event.headline }}</h3>

        <!-- <div class="flex border-2" >
            <p class=" p-5 ml-5 border-amber-100 border-2  ">{{ event.day }}</p>
            <p class="text-[10px]  text-red-600 py-5 border-2 border-amber-900"> Maharishi Markandeshwar University <br> Mullana,Ambala,Haryana          </p>
        </div> -->
           <div class="relative flex items-center justify-center mt-2 w-full max-w-4xl">
                    <!-- Center Divider Line -->
                    <div class="absolute left-1/2 transform -translate-x-1/2 h-16 w-px bg-gray-400"></div>

                    <!-- Left Side (Date) -->
                    <div class="flex-1 flex justify-end pr-8">
                    <p class="text-2xl font-bold text-red-600">{{ event.day }}</p>
                    </div>

                    <!-- Right Side (Venue) -->
                    <div class="flex-1 flex flex-col justify-center items-start pl-8 text-left">
                    <p class="text-xl md:text-2xl font-bold text-red-600">
                        MAHARISHI MARKANDESHWAR UNIVERSITY
                    </p>
                    <p class="text-xl font-semibold text-red-600">
                        MULLANA, AMBALA
                    </p>
                    </div>
            </div>
    </div>
    
<div class="flex flex-col mx-10 mt-5 gap-2">
    <h3 class="font-bold text-lg">{{ event.headline }}</h3>
    <p>{{ event.description }}</p>

    <h3 class="font-bold text-lg " >Rules & Regulations</h3>
    <p>{{ event.rules }}</p>
    <hr class="text-gray-500">

    <p><strong>Venue:</strong> {{ event.venue }}</p>
    <p><strong>Date:</strong> {{ event.day }}</p>
    <p><strong>Time:</strong> {{ event.time }}</p>
    <p><strong>Deadline:</strong> {{ event.deadline }}</p>
    
    <p><strong>Organised by:</strong> {{ event.department }}</p>
    <p><strong>Event Category:</strong> {{ event.category }}</p>

    <hr class="text-gray-500">

    {% if event.registration_link %}
    
    


    <a href="{{ event.registration_link }}" target="_blank">
        <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-red-500 text-red-500 hover:border-red-400 hover:text-red-400 focus:outline-hidden focus:border-red-400 focus:text-red-400 disabled:opacity-50 disabled:pointer-events-none">
         Register Here
        </button>
    </a>
    {% endif %}

    {% if event.whatsapp_link %}
    <div class="flex gap-0.5">
        <p class="text-[10px] mt-2  w-fit">
        For more details about the event, join the <p class="text-red-600 text-[10px]  w-fit mt-2">WhatsApp group.</p>
    </p>
    </div>
    

    <a href="{{ event.whatsapp_link }}" target="_blank"><button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-red-500 text-red-500 hover:border-red-400 hover:text-red-400 focus:outline-hidden focus:border-red-400 focus:text-red-400 disabled:opacity-50 disabled:pointer-events-none">
         Join WhatsApp Group
        </button></a>
    {% endif %}

    <hr class="text-gray-500">
    <h3 class="font-bold text-lg">Coordinators Details</h3>
    <p><strong>Coordinator Name:</strong> {{ event.coordinator_name }}</p>
    <p><strong>Contact Info:</strong> {{ event.contact_info }}</p>

    </div>

    

    

    <p>{{ event.created_by }}</p>
</div>
{% endblock %}