{% load static tailwind_tags %}
{% load static %}

<link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">

<style>
  .LoginBg {
    background-image: url("{% static 'base/assets/img/design_login_page.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
</style>

<div class="LoginBg flex justify-center items-start border-2 min-h-screen ">
   
        <!-- <h1 class="font-bold text-6xl md:text-3xl text-gray-100">Login</h1>  
        
        {% if messages %}
        {% for message in messages %}
        <p style="color:red">{{ message }}</p>
        {% endfor %}
        {% endif %}

        <form method="post" action="{% url 'user_login' %}" class="   flex flex-col items-center gap-3">
            {% csrf_token %}
            
            <div>
              <label class="block mb-0 font-bold text-gray-100">Username:</label>
              <input type="text" name="username" class="w-full md:w-[20vw] bg-gray-200 rounded-lg p-2 opacity-50">
            </div>

            <div>
              <label class="block mb-0 font-bold text-gray-100">Password:</label> 
              <input type="password" name="password" class="w-full md:w-[20vw] bg-gray-200 rounded-lg p-2 opacity-50" >
            </div>

            <button type="submit" class="bg-red-600 rounded-2xl px-4 py-2 text-white  w-full md:w-auto">Login</button>
        </form> -->

       <!-- component -->
<div class=" rounded-2xl bg-[#61bde7]/90 text-white flex mt-5  flex-col items-center  sm:justify-center sm:pt-0">
    
    <div class="relative my-5 w-full max-w-lg sm:mt-2">
        <div class="relative -mb-px h-px w-full bg-gradient-to-r from-transparent via-sky-300 to-transparent"
            bis_skin_checked="1"></div>
        <div
            class="mx-5 border dark:border-b-white/50 dark:border-t-white/50 border-b-white/20 sm:border-t-white/20 shadow-[20px_0_20px_20px] shadow-slate-500/10 dark:shadow-white/20 rounded-lg border-white/20 border-l-white/20 border-r-white/20 sm:shadow-sm lg:rounded-xl lg:shadow-none">
            <div class="flex flex-col p-6">
                <h3 class="text-xl font-semibold leading-6 tracking-tighter">Login</h3>
                <p class="mt-1.5 text-sm font-medium text-white/50">Welcome back, enter your credentials to continue.
                </p>
            </div>
            <div class="p-6 pt-0">
                <form method="post" action="{% url 'user_login' %}">
                   {% csrf_token %}
                    <div>
                        <div>
                            <div
                                class="group relative rounded-lg border focus-within:border-sky-200 px-3 pb-1.5 pt-2.5 duration-200 focus-within:ring focus-within:ring-sky-300/30">
                                <div class="flex justify-between">
                                    <label
                                        class="text-xs font-medium text-muted-foreground group-focus-within:text-white text-black">Username</label>
                                    
                                </div>
                                <input type="text" name="username" placeholder="Username"
                                    autocomplete="off"
                                    class="block w-full bg-gray-200/40  rounded-lg  py-0 px-2  text-sm file:my-1 file:rounded-full file:border-0 file:bg-accent file:px-4 file:py-2 file:font-medium placeholder:text-muted-foreground/90 focus:outline-none focus:ring-0 sm:leading-7 text-foreground">
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <div>
                            <div
                                class="group relative rounded-lg border focus-within:border-sky-200 px-3 pb-1.5 pt-2.5 duration-200 focus-within:ring focus-within:ring-sky-300/30">
                                <div class="flex justify-between">
                                    <label
                                        class="text-xs font-medium text-muted-foreground group-focus-within:text-white text-black">Password</label>
                                </div>
                                <div class="flex items-center">
                                    <input type="password" name="password"
                                        class="block w-full bg-gray-200/40 rounded-lg  py-0 px-2  text-sm file:my-1 file:rounded-full file:border-0 file:bg-accent file:px-4 file:py-2 file:font-medium placeholder:text-muted-foreground/90 focus:outline-none focus:ring-0 sm:leading-7 text-foreground">
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="mt-4 flex items-center justify-end gap-x-2">
                       
                        <button
                            class="font-semibold hover:bg-red-600 hover:text-white hover:ring hover:ring-white transition duration-300 inline-flex items-center justify-center rounded-md text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-white text-black h-10 px-4 py-2"
                            type="submit">Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 
    
</div>


